<ion-content class="ion-padding">
  <div class="chapter-container">
    <img *ngIf="chapter.image" [src]="chapter.image" alt="Chapter Image" class="chapter-image">
    <div class="chapter-text">
      <div *ngIf="chapter.title" class="chapter-title">
        <h2>{{ chapter.title }}</h2>
      </div>
      <p>{{ chapter.content }}</p>
    </div>
  </div>
  <p class="page-number">Page {{ page }}</p>

  <div class="navigation-buttons">
    <ion-button *ngIf="page > 1" [routerLink]="['/content', page - 1]">Previous</ion-button>
    <ion-button routerLink="/toc">Table of Contents</ion-button>
    <ion-button *ngIf="page < chapters.length" [routerLink]="['/content', page + 1]">Next</ion-button>
  </div>
</ion-content>
